{% extends 'layout.html' %}

{% block body %}
<div class="container p-5 my-5 bg-dark text-white">
    <h3>WHO IS THE FOUNDER OF THIS SITE?</h3>
    <p>Hi,  my name is Hazar. I am 20 years old and mechatronic engineering student at Istanbul Okan University. My working experience has started with Burger King when I was 16. I worked ther almost 4 months. And I starting at Riding Club which is really different experience. Since from I was 16 to I was 18 I worked a riding clud in Tekirdag. When I started collage in Istanbul I wanted to contunie riding so I started to work as trainer in a riding club in Istanbul. While I was working there I wanted to learn coding but unfortunately, I could not have too much time. Last year, I was in preparition class which is we learned only English. This year, my first year and because of my major, I had to leave riding club. But I always tryed to learn coding and here is my first web page. You can have fun here. All things are for fun. I will drop my githublink and linkedIn links.</p>
    <p>Github:<a href="https://github.com/hazaryigitt25" target="_blank">https://github.com/hazaryigitt25</a></p>
    <p>LinkedIn:<a href="https://www.linkedin.com/in/hazar-yi%C4%9Fit-4936ab207" target="_blank">https://www.linkedin.com/in/hazar-yi%C4%9Fit-4936ab207</a></p>
    
    
</div>
    
{% endblock %}