{% extends 'layout.html' %}

{% block body %}
{% from 'includes/formhelpers.html' import render_field  %}
<div class="jumbotron text-center">
    <h2>Change Password</h2>
    <hr>
    <form method="post">
        {{ render_field(form.old_password) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.confirm) }}
        <a href="/manage" class="btn btn-danger">Back</a>
        <button type="submit" class="btn btn-info" style="text-align:right;">Change</button>
        
    </form>
</div>
{% endblock %}